@import 'tailwindcss';
@import 'base.css';

@plugin '@tailwindcss/typography';

@source '../views/**/*.blade.php';
@source '../../storage/framework/views/*.php';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
        ::after,
        ::before,
        ::backdrop,
        ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
    }

    html {
        @apply bg-slate-50 text-slate-800 font-mono;
    }

    @supports (font: -apple-system-body) and (-webkit-appearance: none) {
        html, * {
            @apply selection:bg-harlequin;

            & {
                --bar-color: rgba(51, 255, 51, 1.0);

                scrollbar-color: #999 #333;
            }

            &::-webkit-scrollbar {
                width: 10px; /* Mostly for vertical scrollbars */
                height: 10px; /* Mostly for horizontal scrollbars */
            }

            &::-webkit-scrollbar-thumb { /* Foreground */
                background: var(--bar-color);
            }

            &::-webkit-scrollbar-track, &::-webkit-scrollbar-corner { /* Background */
                background: #1e293b;
            }
        }
    }

    .content {
        @apply max-w-full prose
            prose-figcaption:mt-0 has-[figcaption]:prose-img:mb-2

            /** miscellanea **/
            prose-hr:my-10

            /** anchor **/
            prose-a:font-semibold prose-a:underline-offset-2 prose-a:hover:text-dark-blue-200 prose-a:visited:text-dark-blue

            /** blockquote **/
            prose-blockquote:bg-slate-100 prose-blockquote:p-4
            prose-blockquote:border-s-dark-blue-100 prose-blockquote:text-slate-800
            prose-blockquote:[&>p]:m-0
            prose-blockquote:[&>p]:before:content-['“'] prose-blockquote:[&>p]:after:content-['”']
            prose-blockquote:[&>p]:before:text-2xl prose-blockquote:[&>p]:after:text-2xl
            prose-blockquote:[&>p]:before:font-black prose-blockquote:[&>p]:after:font-black

            /** (un)ordered list **/
            prose-ul:pl-5 prose-ol:pl-9
    }

    #toc {
        #toc-title {
            @apply text-center text-2xl mb-4 mt-0 select-none m-0;
        }

        .toc-list {
            @apply grid m-0 gap-1 mt-1 pl-5 group-[.has-marker]:list-image-(--marker-url) marker:text-2xl;

            .toc-item {
                @apply m-0 p-0;

                > p {
                    @apply pl-1;

                    a {
                        @apply  grid grid-cols-[auto_1fr] gap-1
                                font-medium
                                no-underline underline-offset-4 hover:underline hover:text-dark-blue-400 visited:text-inherit;
                    }
                }
            }
        }
    }
}

/** Remove scrollbar elements on Torchlight wrapper **/
pre > .torchlight-wrapper {
    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-corner {
        width: 0;
        height: 0;
        display: none;
    }
}

/*
 Add some vertical padding and expand the width
 to fill its container. The horizontal padding
 comes at the line level so that background
 colors extend edge to edge.
*/
pre code.torchlight {
    @apply block py-4 min-w-max;
}

/*
 Horizontal line padding.
*/
pre code.torchlight .line {
    @apply mx-4;
}

/*
 Push the code away from the line numbers and
 summary caret indicators.
*/
pre code.torchlight .line-number,
pre code.torchlight .summary-caret {
    @apply mr-4;
}

/*
  Blur and dim the lines that don't have the `.line-focus` class,
  but are within a code block that contains any focus lines.
*/
.torchlight.has-focus-lines .line:not(.line-focus) {
    transition: filter 0.35s, opacity 0.35s;
    filter: blur(.095rem);
    opacity: .65;
}

/*
  When the code block is hovered, bring all the lines into focus.
*/
.torchlight.has-focus-lines:hover .line:not(.line-focus) {
    filter: blur(0px);
    opacity: 1;
}
