@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply bg-slate-50 text-slate-800 font-mono;
    }

    @supports (hanging-punctuation: first) and (font: -apple-system-body) and (-webkit-appearance: none) {
        html, * {
            @apply selection:bg-harlequin;

            & {
                --bar-color: rgba(51, 255, 51, 1.0);

                scrollbar-color: #999 #333;
            }

            &::-webkit-scrollbar {
                width: 10px; /* Mostly for vertical scrollbars */
                height: 10px; /* Mostly for horizontal scrollbars */
            }

            &::-webkit-scrollbar-thumb { /* Foreground */
                background: var(--bar-color);
            }

            &::-webkit-scrollbar-track, &::-webkit-scrollbar-corner { /* Background */
                background: #1e293b;
            }
        }
    }

    .content {
        @apply max-w-full prose
            prose-figcaption:mt-0 prose-img:has-[figcaption]:mb-2

            /** anchor **/
            prose-a:font-semibold prose-a:underline-offset-2 hover:prose-a:text-dark-blue-200 visited:prose-a:text-dark-blue

            /** blockquote **/
            prose-blockquote:border-s-dark-blue/50 prose-blockquote:text-slate-800/50
    }
}

/** Remove scrollbar elements on Torchlight wrapper **/
pre > .torchlight-wrapper {
    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-corner {
        width: 0;
        height: 0;
        display: none;
    }
}

/*
 Add some vertical padding and expand the width
 to fill its container. The horizontal padding
 comes at the line level so that background
 colors extend edge to edge.
*/
pre code.torchlight {
    @apply block py-4 min-w-max;
}

/*
 Horizontal line padding.
*/
pre code.torchlight .line {
    @apply mx-4;
}

/*
 Push the code away from the line numbers and
 summary caret indicators.
*/
pre code.torchlight .line-number,
pre code.torchlight .summary-caret {
    @apply mr-4;
}

/*
  Blur and dim the lines that don't have the `.line-focus` class,
  but are within a code block that contains any focus lines.
*/
.torchlight.has-focus-lines .line:not(.line-focus) {
    transition: filter 0.35s, opacity 0.35s;
    filter: blur(.095rem);
    opacity: .65;
}

/*
  When the code block is hovered, bring all the lines into focus.
*/
.torchlight.has-focus-lines:hover .line:not(.line-focus) {
    filter: blur(0px);
    opacity: 1;
}
