@import 'tailwindcss';
@import '../../vendor/filament/support/resources/css/index.css';
@import '../../vendor/filament/filament/resources/css/components/theme-switcher.css';
@import '../../vendor/filament/filament/resources/css/components/user-menu.css';
@import '../../vendor/filament/support/resources/css/components/avatar.css';

@plugin '@tailwindcss/typography';

@source '../views/**/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
  --font-sans:
    Figtree, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --color-harlequin-50: #ebffeb;
  --color-harlequin-100: #d6ffd6;
  --color-harlequin-200: #adffad;
  --color-harlequin-300: #85ff85;
  --color-harlequin-400: #5cff5c;
  --color-harlequin-500: #33ff33;
  --color-harlequin-600: #00fa00;
  --color-harlequin-700: #00c200;
  --color-harlequin-800: #008a00;
  --color-harlequin-900: #005200;
  --color-harlequin-950: #003600;
  --color-harlequin: #33ff33;

  --color-dark-blue-50: #6363ff;
  --color-dark-blue-100: #4e4eff;
  --color-dark-blue-200: #2525ff;
  --color-dark-blue-300: #0000fc;
  --color-dark-blue-400: #0000d3;
  --color-dark-blue-500: #0000aa;
  --color-dark-blue-600: #000072;
  --color-dark-blue-700: #00003a;
  --color-dark-blue-800: #000002;
  --color-dark-blue-900: #000000;
  --color-dark-blue-950: #000000;
  --color-dark-blue: #0000aa;

  --animate-fade: fadeIn 0.2s ease-in-out;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
    html {
        @apply bg-slate-50 text-slate-800 font-mono;
    }

    @supports (hanging-punctuation: first) and (font: -apple-system-body) and (-webkit-appearance: none) {
        html, * {
            @apply selection:bg-harlequin;

            & {
                --bar-color: rgba(51, 255, 51, 1.0);

                scrollbar-color: #999 #333;
            }

            &::-webkit-scrollbar {
                width: 10px; /* Mostly for vertical scrollbars */
                height: 10px; /* Mostly for horizontal scrollbars */
            }

            &::-webkit-scrollbar-thumb { /* Foreground */
                background: var(--bar-color);
            }

            &::-webkit-scrollbar-track, &::-webkit-scrollbar-corner { /* Background */
                background: #1e293b;
            }
        }
    }

    .content {
        @apply max-w-full prose
            prose-figcaption:mt-0 has-[figcaption]:prose-img:mb-2

            /** miscellanea **/
            prose-hr:my-10

            /** anchor **/
            prose-a:font-semibold prose-a:underline-offset-2 prose-a:hover:text-dark-blue-200 prose-a:visited:text-dark-blue

            /** blockquote **/
            prose-blockquote:border-s-dark-blue/50 prose-blockquote:text-slate-800/50

            /** (un)ordered list **/
            prose-ul:pl-5 prose-ol:pl-9
    }
}

/** Remove scrollbar elements on Torchlight wrapper **/
pre > .torchlight-wrapper {
    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-corner {
        width: 0;
        height: 0;
        display: none;
    }
}

/*
 Add some vertical padding and expand the width
 to fill its container. The horizontal padding
 comes at the line level so that background
 colors extend edge to edge.
*/
pre code.torchlight {
    @apply block py-4 min-w-max;
}

/*
 Horizontal line padding.
*/
pre code.torchlight .line {
    @apply mx-4;
}

/*
 Push the code away from the line numbers and
 summary caret indicators.
*/
pre code.torchlight .line-number,
pre code.torchlight .summary-caret {
    @apply mr-4;
}

/*
  Blur and dim the lines that don't have the `.line-focus` class,
  but are within a code block that contains any focus lines.
*/
.torchlight.has-focus-lines .line:not(.line-focus) {
    transition: filter 0.35s, opacity 0.35s;
    filter: blur(.095rem);
    opacity: .65;
}

/*
  When the code block is hovered, bring all the lines into focus.
*/
.torchlight.has-focus-lines:hover .line:not(.line-focus) {
    filter: blur(0px);
    opacity: 1;
}
